@{     ViewData["Title"] = "Access Denied";
}

<div class="px-4 border shadow rounded py-5 my-5 text-center">
    <h1 class="display-5 text-danger fw-bold">Forbidden</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Access Denied: Unauthorized webpage.
        </p>
        <a class="btn btn-large btn-danger" asp-controller="Home" asp-action="Index">Return Home</a>
    </div>
</div>