@model AdminViewModel
@{
    ViewData["Title"] = "Admin";
}

<div class="d-flex justify-content-center flex-nowrap">
    <section class="border shadow p-5 m-5 mb-2 rounded w-50">
        <h1 class="h3 text-center mb-4">FTP Server Files</h1>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <p>report.txt</p>
                    <p>iep.txt</p>
                    <p>tort.txt</p>
                    <p>port.txt</p>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <button class="btn p-0 btn-secondary">Download</button>
                    <button class="btn p-0 btn-secondary">Download</button>
                    <button class="btn p-0 btn-secondary">Download</button>
                    <button class="btn p-0 btn-secondary">Download</button>
                    <button class="btn p-0 btn-secondary">Download</button>
                </div>

            </div>
         </div>
</section>
</div>
<div class="d-flex justify-content-center flex-nowrap">
    <section class="border shadow p-5 m-5 rounded w-50">
        <h1 class="h3 text-center mb-4">Emails</h1>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="alert alert-dark" role="alert">
                        Hello! from jane@example.com
                    </div>
                    <div class="alert alert-dark" role="alert">
                        Finanical Report from jane@example.com
                    </div>
                    <div class="alert alert-dark" role="alert">
                        Schedule from jane@example.com
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>