@{
    ViewData["Title"] = "Thank You";
}

<div class="px-4 border shadow rounded py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Thank You</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            We will get back to you as soon as possible.
        </p>
        <a class="btn btn-large btn-secondary" asp-controller="Home" asp-action="Index">Return Home</a>
    </div>
</div>