@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mask jumbotron-fluid mt-5" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="container mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center p-3">
                <h1 class="mb-3">Solar Panels</h1>
                <h4 class="mb-3">Every 24 hours, enough sunlight touches the Earth to provide energy for the entire planet for 24 years</h4>
            </div>
        </div>
    </div>
</div>


<section class="container mt-5 mb-5">
    <h1 class="text-center">Sonnenburg Fields</h1>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        List of Solar Arrays
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled p-1">
                            <li>Solar Array 1</li>
                            <li>Solar Array 2</li>
                            <li>Solar Array 3</li>
                            <li>Solar Array 4</li>
                            <li>Solar Array 5</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        Power Generation
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled p-1">
                            <li>23232</li>
                            <li>143</li>
                            <li>3244</li>
                            <li>90877</li>
                            <li>78886</li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

