@{
    ViewData["Title"] = "Manufacturing";
}

<div class="px-4 border shadow rounded py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Manufacturing</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Being part of the Vita Vehiculum family means that we support the manufacturing of electric vehicles (EV). Utilizing our solar generation, Vita Vehiculum has built a new electric vehicle manufacturing complex right here at Sonneberg Fields. It provides the capability of building EV in a plant run completely off solar! It is much more efficient than any of our competitors! Please reach out via the Contact Us page for more information regarding our EV manufacturing.
        </p>
    </div>
</div>



