@{
    ViewData["Title"] = "Solar Generation";
}


<div class="px-4 py-5 border shadow rounded my-5 text-center">
    <h1 class="display-5 fw-bold">Solar Generation</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
        We are proud of being the newest addition to the Vita Vehiculum family and support their manufacturing capabilities with over 15 acres of solar farms throughout the country. Currently our largest farm, Sonneberg Fields,has capabilities of generation approximately 14000 kW/h of electricity. Our mission has always been clean energy and our solar generation efforts are our star in that. Please reach out via the Contact Us page for more information regarding commercial utilization.
        </p>
    </div>
</div>


